form {
    margin: 20px auto;
}
#form_busca {
    margin-top: 100px;
}
#busca {
    padding-left: 30px;
}
.large-icon {
    font-size: 1em !important;
}
.card .card-image .card-title {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 12px 6px;
}
#form_conectar i {
    width: 10%;
    height: 50px;
    margin: 7.333%;
    padding-top: 10px;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #ffc107;
}
.tabs .tab a {
    color: rgba(255, 193, 7, 0.7);
}
.tabs .indicator {
    background-color: #ffe082;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
}
#form_receita, #form_busca, #acoes, #receitas {
    display: none;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border-color: #ffc107;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #ffc107;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom-color: #ffc107;
    box-shadow: 0 1px 0 0 #ffc107;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #ffc107;
}